body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv {background-color:white;
    font-family:arial;
    padding: 20px;
    width: 300px;
    align-items: center;
    color:black}
.highlight{background-color: yellow;}


